@model IEnumerable<Rooster.web.Models.Dienst>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.begintijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eindtijd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.afdeling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medewerker)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.begintijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eindtijd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.afdeling)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medewerker)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
